

/* ========================================================================== 
* Import grid
 ==========================================================================  */

 @import "frag.less";

 @import "pigeon.less";

 html {
 	background: url(../images/whitebg.png)
 }

 body {
 	
 	font-size: 18px;
	font-size: 1.8rem;
	line-height: 22px;
	line-height: 2.2rem;
 }
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1, caption, dt, th {
	font-family: 'Oswald', sans-serif;
	text-align: center;
}


.main {
	padding: 5rem 0;

}

.nav a:hover {
	color: #333;
}

.wrapper {
	margin: 0 auto;
	width: 85%;
	height: 0px;
	padding-bottom: 85%;
	max-width: 600px;

}

.head {
	min-height: 500px;
  	background: url(../images/ttytile.svg);
  	background-repeat: repeat-x;
  	background-size: 25%;
}

/* nav styles */

.menu {
	padding-bottom: 4rem;
}

.nav {
	text-transform: uppercase;
	padding-left: 10%;
}

.nav li {
	margin-right: 13%;
	float: left;
	display: inline-block;
}

.nav li:last-child {
	margin-right: 0; 
}

.nav a {
	text-decoration: none;
	color: #300;
	font-weight: bold;
}

/* article styles */



.header-top {
	border-top: 1px dashed #d2d2d2;
}

p.date {
	text-align: center;
	margin: -1rem 0 1.5rem 0;
}

p.date span {
	display: inline-block;
	background-color: #f3f3f3;
	padding: 0px 0.7em;
}

@media all and (max-width: 1000px) {
    .head {
    	background-size: 35%;
    	padding: 2rem 0;

    }
}
// Mobile break-point
@media all and (max-width: 640px) {
	.main {
		padding: 2rem 0;

	}
    .head {
    	min-height: 350px;
    	background-size: 34%;
    }
    .nav {
    	padding-left: 0
    }
    .nav li {
		margin-right: 3%;
	}
}




